<div class="row">
  <div class="col-xs-12 text-center">
    <h1>Meus Eventos</h1>
    <% if !@events.empty? %>
      <%= link_to 'Novo Evento', new_event_path, class: 'btn btn-success' %>
    <% end %>
  </div>

  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <% if !@events.empty? %>
            <th>Data</th>
            <th class="text-center">Ações<th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% if @events.empty? %>
          <tr>
            <td class="text-center">
              <h3>Sem eventos cadastrados.</h3>
              <%= link_to 'Novo Evento', new_event_path, class: 'btn btn-success' %>
            </td>
          </tr>
        <% end %>
        <% @events.each do |c| %>
        <tr>
          <td>
            <%= c.dated_at %>
          </td>
          <td class="text-center">
            <%= link_to 'Visualizar', event_path(c), class: 'btn btn-primary' %>
            <%= link_to 'Atualizar', edit_event_path(c), class: 'btn btn-warning' %>
            <%= link_to 'Excluir', event_path(c), method: :delete, class: 'btn btn-danger', data: { confirm: 'Tem certeza que deseja excluir?' } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
