<div class="row">
  <div class="col-xs-12 text-center">
    <h1>Meus Contatos</h1>
    <% if !@contacts.empty? %>
      <%= link_to 'Novo Contato', new_contact_path, class: 'btn btn-success' %>
    <% end %>
  </div>

  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <% if !@contacts.empty? %>
            <th>Nome</th>
            <th>Telefone</th>
            <th class="text-center">Ações<th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% if @contacts.empty? %>
          <tr>
            <td class="text-center">
              <h3>Sem contatos cadastrados.</h3>
              <%= link_to 'Novo contato', new_contact_path, class: 'btn btn-success' %>
            </td>
          </tr>
        <% end %>
        <% @contacts.each do |c| %>
        <tr>
          <td>
            <%= c.name %>
          </td>
          <td>
            <%= c.phone %>
          </td>
          <td class="text-center">
            <%= link_to 'Visualizar', contact_path(c), class: 'btn btn-primary' %>
            <%= link_to 'Atualizar', edit_contact_path(c), class: 'btn btn-warning' %>
            <%= link_to 'Excluir', contact_path(c), method: :delete, class: 'btn btn-danger', data: { confirm: 'Tem certeza que deseja excluir?' } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
